/*RESET CSS*/
*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

img {
  width: 100%;
}
/*RESET CSS*/
